head
  script(type='text/javascript').
    var canvasName = '#{canvasName}';
    var sessionName = '#{sessionName}', pageNo = #{pageNo};
    var options = !{JSON.stringify(options)};
  if sessionName
    title #{sessionName}/#{pageNo} | SciWriter
  else
    title SciWriter
  meta(name="viewport" content="initial-scale=1")
  meta(name="description" content="Draw with everyone else in realtime on a HTML5 canvas")
  meta(property="og:url" content="https://udraw.me")
  meta(property="og:title" content="udraw: Multiplayer Draw")
  meta(property="og:image" content="https://udraw.me/screenshot.png")
  meta(property="og:image:width" content="1600")
  meta(property="og:image:height" content="1000")
  meta(property="og:description" content="Draw with everyone else online in realtime!")
  link(rel="stylesheet" href="/css/style.min.css")
