doctype html
html
  head
    script(type='text/javascript').
      var canvasName = '#{canvasName}'; var sessionName = '#{sessionName}'; var pageNo = #{pageNo};
    if sessionName
      title #{sessionName}/#{pageNo} | udraw Multiplay Drawing
    else
      title udraw: Multiplayer Drawing
    meta(name="viewport" content="initial-scale=1")
    meta(name="description" content="Draw with everyone else in realtime on a HTML5 canvas")
    meta(property="og:url" content="https://udraw.me")
    meta(property="og:title" content="udraw: Multiplayer Draw")
    meta(property="og:image" content="https://udraw.me/screenshot.png")
    meta(property="og:image:width" content="1600")
    meta(property="og:image:height" content="1000")
    meta(property="og:description" content="Draw with everyone else online in realtime!")
    link(rel="stylesheet" href="/style.min.css")
  body
    div#cursors
    if sessionName && pageNo
      div#bg-image(style="background-image: url(\"/uploads/test#{pageNo}.png\")")
    if sessionName
      canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
      div#adminPanel
        h1#bigTitle Remote Test Administration
        h2 Test session: #{sessionName} / screen #{pageNo}
        h2  User screen:&nbsp;
          a(href="/s/#{sessionName}/#{pageNo}" target="_blank") /s/#{sessionName}/#{pageNo}
        br
        div.session-controls
          button(id="clearButton") Clear!
          button(id="endSessionButton") End!
          button(id="nextPage") Proceed to next screen &gt;
    else
      div#sessionPanel
        h1#bigTitle Remote Test Administration
        div.session-controls
          h2 Start a new test session
          label(for="newSessionName") Session Name:
          input(type="text" id="newSessionName" placeholder="")
          button(id="newSessionButton") Go
        br
        hr
        br
        div.session-list
          h2 Review a previous session:
          table
            each row in sessionList
              tr
                td
                  a(href="/a/#{row}/0") #{row}

    div#settingsPanel
      div#settingsPanelTab Settings

      h2#canvasName #{canvasName}

      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p v0.5 by <a href="https://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    if sessionName
      script(src="/draw.min.js")
    script(src="/admin.js")
