doctype html
html
  include ./inc/head.jade
  body
    div#cursors
    if sessionName && pageNo
      div#session-bg-image
      div#session-bg-text
        span
    if sessionName
      canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
      // in-session admin control panel
      div#adminPanel
        h1#bigTitle Remote Test Administration
        h2 Test session: #{sessionName} / screen #{pageNo}
        h2  User screen:&nbsp;
          a(href="/s/#{sessionName}/#{pageNo}" target="_blank") /s/#{sessionName}/#{pageNo}
        // TODO: HIDE/SHOW DIFFERENT STIMULUS UI (IMAGE/TEXT) DEPENDING ON INITIAL PRESENTATION CHOICE
        label Stimulus:
          input(id="stimulusText")
          button(id="stimulusButton") Send!
        label Auto
          input(type="checkbox" id="stimulusLive" value="1")
        br
        br
        div.session-controls
          button(id="clearButton") Clear!
          button(id="endSessionButton") End!
          button(id="nextPage") Proceed to next screen &gt;
    else
      // intro screen - session CRUD
      div#sessionPanel
        h1#bigTitle Remote Test Administration
        div.session-controls
          h2 Start a new test session
          table
            tr
              td
                label Session Name:
                  input(type="text" id="newSessionName" placeholder="")
              td
                label Presentation:
                  select(id="sessionPresentation")
                    option(value="0") Blank
                    option(value="1") Free Text
                    option(value="2") Image Backgrounds
                 button(id="newSessionButton") GO!
        br
        hr
        br
        div.session-list
          h2 Review a previous session:
          table
            tr
              th View
              th Delete
            each row in sessionList
              tr
                td
                  a(href="/a/#{row}/0") #{row}
                td
                  a(class="deleteSession" data-session-name="#{row}" href="javascript:void(0);") X

    div#settingsPanel
      div#settingsPanelTab Settings

      h2#canvasName #{canvasName}

      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p v0.5 by <a href="https://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    if sessionName
      script(src="/draw.min.js")
    script(src="/admin.js")
