doctype html
html
  include ./inc/head.jade
  body
    div#cursors
    if sessionName && pageNo
      div#session-bg-image
      div#session-bg-text
        span
    if sessionName
      canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
      // in-session admin control panel
      div#adminPanel
        h1#bigTitle Remote Test Administration
        h2 Session name: #{sessionName} / screen #{pageNo}
        h2  User screen at:&nbsp;
          a(href="/s/#{sessionName}/#{pageNo}" target="_blank") /s/#{sessionName}/#{pageNo}
        hr
        // J.S. Hides/shows different stimulus ui (image/text) depending on admin's initial presentation choice
        p Presentation controls
        div(id="presentation-text" class="presentation-controls")
          table
            tr
              td
                label Stimulus:
                  br
                  input(id="stimulusText" placeholder="Enter text to display...")
              td
                input(type="checkbox" id="stimulusLive" value="1")
                label(for="stimulusLive") Type live
                br
                button(id="stimulusButton" style="width:100%") Show now
                br
                button(id="stimulusNextPageButton"  style="width:100%") Show next &gt;
        div(id="presentation-text-prefab" class="presentation-controls")
          table
            tr
              td
                a(class="text-prefab-button" href="javascript:void(0)") Floatchwail
                br
                a(class="text-prefab-button" href="javascript:void(0)") Meringue
                br
                a(class="text-prefab-button" href="javascript:void(0)") Orange
                br
              td
                a(class="text-prefab-button" href="javascript:void(0)") Bat
                br
                a(class="text-prefab-button" href="javascript:void(0)") Cat
                br
                a(class="text-prefab-button" href="javascript:void(0)") The _at _at on the _at
                br
              td
                a(class="text-prefab-button") Boat
                a(class="text-prefab-button") Yacht
                a(class="text-prefab-button") Sheaf


        div(id="presentation-images" class="presentation-controls")
          p Stimulus: (todo:filename)
        hr
        div.session-controls
          p Session controls
          button(id="clearButton") Clear!
          button(id="endSessionButton") End!
          button(id="nextPage") Proceed to next screen &gt;
    else
      // intro screen - session CRUD
      div#sessionPanel
        h1#bigTitle Remote Test Administration
        div.session-controls
          h2 Start a new test session
          table
            tr
              td
                label Session Name
                  br
                  input(type="text" id="newSessionName" placeholder="")
              td
                label Presentation
                br
                select(id="sessionPresentation")
                    option(value="0") Blank
                    option(value="1") Free Text
                    option(value="2") Preset Text
                    option(value="3") Preset Image Backgrounds
                  button(id="newSessionButton") GO!
        br
        hr
        br
        div.session-list
          h2 Review a previous session:
          table
            tr
              th View
              th Delete
            each row in sessionList
              tr
                td
                  a(href="/a/#{row}/0") #{row}
                td
                  a(class="deleteSession" data-session-name="#{row}" href="javascript:void(0);") X

    div#settingsPanel
      div#settingsPanelTab Settings

      h2#canvasName #{canvasName}

      table#serverStats
      div#bottomAttribution
        p
          a(id="statsShow" href="javascript:void(0)") Server Stats
        p v0.5 by <a href="https://timatooth.com">Tim Sullivan</a>
        p Source code on <a href="https://github.com/timatooth/node-multidraw">GitHub</a>
    script(src="//code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    if sessionName
      script(src="/js/draw.min.js")
    script(src="/js/admin.js")
