doctype html
html
  include ./inc/head.jade
  body
    div#cursors
    if sessionName && pageNo
      div#session-bg-image
      div#session-bg-text
        span
    if sessionName
      canvas#paper(width="1900" height="1000") Your browser doesn't support canvas!
      +graphemeTilesStimulus("admin-tiles")

      // in-session admin control panel
      div#adminPanel
        h1#bigTitle Remote Test Administration
        h2 Session name: #{sessionName} / screen #{pageNo}
        h2  User screen at:&nbsp;
          a(href="/s/#{sessionName}/#{pageNo}" target="_blank") /s/#{sessionName}/#{pageNo}
        h2 Admin pen colour
          +colourPicker("adminPenColour", options.adminPenColour)
        hr
        // J.S. Hides/shows different stimulus ui (image/text) depending on admin's initial presentation choice
        p: b Presentation controls
        div(id="presentation-text" class="presentation-controls")
          table
            tr
              td
                label Stimulus:
                  br
                  input(id="stimulusText" placeholder="Enter text to display...")
              td
                input(type="checkbox" id="stimulusLive" value="1")
                label(for="stimulusLive") Type live
                br
                button(id="stimulusButton" style="width:100%") Show now
                br
                button(id="stimulusNextPageButton"  style="width:100%") Show next &gt;
        div(id="presentation-text-prefab" class="presentation-controls")
          table
            tr
              td
                a(class="text-prefab-button" href="#") Floatchwail
                br
                a(class="text-prefab-button" href="#") Meringue
                br
                a(class="text-prefab-button" href="#") Orange
                br
              td
                a(class="text-prefab-button" href="#") Bat
                br
                a(class="text-prefab-button" href="#") Cat
                br
                a(class="text-prefab-button" href="#") The _at _at on the _at
                br
              td
                a(class="text-prefab-button" href="#") Boat
                br
                a(class="text-prefab-button" href="#") Yacht
                br
                a(class="text-prefab-button" href="#") Sheaf
                br
        div(id="presentation-images" class="presentation-controls")
          p (none yet for images)
        div(id="presentation-grapheme-tiles" class="presentation-controls")
          table
            tr
              td
                input(id="graphemeList" value="b a t c h s ph ch i f")
                button(id="graphemeGeneratorButton") Make tiles

        hr
        div.session-controls
          p: b Session controls
          button(id="clearButton") Clear!
          button(id="endSessionButton") End!
          button(id="nextPage") Proceed to next screen &gt;
    else
      // intro screen - session CRUD
      div#sessionPanel
        h1#bigTitle Remote Test Administration
        div.session-controls
          h2 Start a new test session
          table
            tr
              td
                label Session Name
                  br
                  input(type="text" id="newSessionName" placeholder="")
              td
                label Presentation
                br
                select(id="sessionPresentation")
                    option(value="0") Blank
                    option(value="1") Free Text
                    option(value="2") Preset Text
                    option(value="3") Preset Image Backgrounds
                    option(value="4") GPC Tiles
                  button(id="newSessionButton") GO!
        br
        hr
        div.app-options
          h2 Options
          table
            tr
            tr
              td Admin pen colour
              td
                +colourPicker("adminPenColour", options.adminPenColour)
            tr
              td Subject Pen Colour
              td
                +colourPicker("subjectPenColour", options.subjectPenColour)
            tr
              td Subject Pen Size
              td
                select(id="subjectPenSize")
                  option(value="1"  selected=(options.subjectPenSize== "1" ? "selected" : null) ) 1
                  option(value="3"  selected=(options.subjectPenSize== "3" ? "selected" : null) ) 2
                  option(value="5"  selected=(options.subjectPenSize== "4" ? "selected" : null) ) 3
                  option(value="10" selected=(options.subjectPenSize=="10" ? "selected" : null) ) 4
                  option(value="20" selected=(options.subjectPenSize=="20" ? "selected" : null) ) 5
                small  (not stored in drawing)
        hr
        br
        div.session-list
          h2 Review a previous session:
          table
            tr
              th View
              th Delete
            each row in sessionList
              tr
                td
                  a(href="/a/#{row}/0") #{row}
                td
                  a(class="deleteSession" data-session-name="#{row}" href="javascript:void(0);") X

  include ./inc/foot.jade
  if sessionName
    script(src="/js/main.min.js")
    script(src="/js/admin.js")

    script(type='text/javascript')
      $(TilesPlugin($));

